<!DOCTYPE html>
  <head>
    <title>Is it Peter Stott's Birthday</title>
    <style type="text/css">
      body {
        font-size: 56px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <% if birthday %>
      <h1>Yes.</h1>
      <h1>Happy Birthday!</h1>
    <% else %>
      <h1>No.</h1>
    <% end %>
  </body>
</html>
